<%- include('base') %>

<p><h2><%= board.title %></h2></p>
<p><%= board.createdAt %></p>

<div style="height: 50px;">
    <form method="GET" action="">
        <input type="search" name="keyword" placeholder="キーワードを入力"> 
        <button type="submit">検索</button>
    </form>
    </div>    
    <% board["BoardContents"].reverse() %>
    <% board["BoardContents"].forEach ((item) => { %>
        <div class="list-group">
        <a href="" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
            <div class="d-flex gap-2 w-100 justify-content-between">
            <div>
                <h6 class="mb-0"><%= item.text %></h6>
            </div>
            <small class="opacity-50 text-nowrap"><%= item.createdAt %></small>
            </div>
        </a>
        </div>
    <% }) %>
</div>

<div class ="post">
    <p style="margin:20px;">レスを投稿する</p>
    <form action ='/create_response/<%- board.id %>', method="POST">
    <input style="width: 400px;" type="text" name="text" placeholder="レスを入力">
    <input type="submit" value='投稿'>
    </form>
</div>

<%- include('hooter') %>

